<%- include("partials/header") %>

<main>
  <h1>Page Not Found</h1>
  <p><strong><%= openHours %></strong></p>
  <p>Sorry, the page you’re looking for doesn’t exist.</p>
  <a href="/">Return to Home</a>
</main>

<%- include("partials/footer") %>
